<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:debuggable="true"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MotivasiApp">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MotivasiApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Broadcast Receiver untuk Sholat Alarm -->
        <receiver
            android:name=".receiver.SholatAlarmReceiver"
            android:exported="true"
            android:permission="android.permission.SCHEDULE_EXACT_ALARM">
            <intent-filter>
                <action android:name="com.apps.motivasiapp.SHOLAT_ALARM" />
            </intent-filter>
        </receiver>

        <!-- Fix #2: Boot Receiver - reschedule alarm setelah HP restart -->
        <receiver
            android:name=".receiver.BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- Untuk Xiaomi/MIUI dan beberapa vendor lain -->
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
